<div class="container-fluid" style="width:800px">

  <div class="row-fluid" style="width:800px">
    <div class="span8" ng-click="new()">New Test URL</div>
  </div>
</div>
<div class="container-fluid" style="width:800px">
  <!-- list all Confugurations -->
  <div ng-repeat="config in configurations | filter:hideDeleted" class="row-fluid">
    <div class="span8" >
      <span ng-click="config.show=!config.show">&nbsp;{{config|directoryOpenStatusIndicator}}&nbsp;</span>
      <span ng-click="loadTests(config)"><h4>{{config.serverurl}}</h4></span>
    </div>
    <div class="span1" ng-click="runAllConfig(config)">Run</div>
    <div class="span1">{{config.TIME}}ms</div>
    <div class="span2" >
      <span ng-click="delete(config)"> X </span>
      <span ng-click="edit(config)"> E </span>
    </div>
    <!-- list all Test Components-->
    <div ng-show="config.show" ng-repeat="test in config.tests" class="row-fluid">
      <div class="span8" ng-click="test.show=!test.show">&nbsp;&nbsp;&nbsp;&nbsp;<i class="{{test.RESULT|statusIcon}}"></i>&nbsp;{{test.componentPath.split('.').pop()}}</div>
      <div class="span1" ng-click="runAllTest(test)">Run</div>
      <div class="span1">{{test.TIME}}ms</div>
      <div class="span2" > {{test.RESULT}}</div>
      <!-- list all Tests in this config-->
      <div ng-show="test.show" ng-repeat="method in test.runnablemethods | filter:hidePassed " class="row-fluid">
        <div class="span12">
          <div class="span8" ng-click="method.result.show=!method.result.show" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="{{method.result.RESULT|statusIcon}}"></i>&nbsp;{{method.name}}</div>
          <div class="span1" ng-click="runTestMethod(method)">Run</div>
          <div class="span1">{{method.result.TIME}}ms</div>
          <div class="span2" >{{method.result.RESULT}}</div>
        </div>
        <div ng-show="method.result.show&&(method.result.RESULT=='Failed'||method.result.RESULT=='Error')" class="span10 well">
          <div class="span12">{{method.result.MESSAGE}}</div>
          <div ng-repeat="line in method.result.TAGCONTEXT" class="span12">
            <div>{{line.LINE}}:{{line.FILE}}</div>
          </div>
        </div>
      </div>
  </div>
</div>
