<div class="container-fluid" >

  <div class="row-fluid" >
    <div class="span12" ng-click="new()">New Test URL</div>
  </div>

</div>

<div class="container-fluid">
  <!-- list all Confugurations -->
  <div ng-repeat="config in configurations | filter:hideDeleted" class="row-fluid">

    <div class="span8" >
      <span ng-click="config.show=!config.show"><i class="{{config|directoryOpenStatusIndicator}}"></i></span>
      <span ng-click="loadTests(config)">{{config.serverurl}}</span>
    </div>

    <div class="span1" ng-click="runAllInConfig(config)">
      <span ng-show="!working">Run</span>
    </div>
    <div class="span1">{{config.TIME}}ms</div>

    <div class="span2" >
      <span ng-click="delete(config)"> X </span>
      <span ng-click="edit(config)"> E </span>
    </div>

    <!-- list all Test Components-->
    <div ng-show="config.show" ng-repeat="test in config.tests" class="row-fluid">
      <div class="span12" >
        <div class="row-fluid" >
          <div class="span8" ng-click="test.show=!test.show">
            &nbsp;
            &nbsp;
            <i class="{{test|directoryOpenStatusIndicator}}"></i>
            <i class="{{test.RESULT|statusIcon}}"></i>
            {{test.componentPath.split('.').pop()}}
          </div>
          <div class="span1" ng-click="runAllInComponent(test,config)">
            <span ng-show="!working">Run</span>
          </div>
          <div class="span1">{{test.TIME}}ms</div>
          <div class="span1" > {{test.RESULT}}</div>
        </div>

        <!-- list all Tests in this config -->
        <div ng-show="test.show" ng-repeat="method in test.runnablemethods | filter:hidePassed " class="row-fluid">
          <div class="span12">
            <div class="row-fluid">
              <div class="span8" ng-click="method.result.show=!method.result.show" >
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <i class="{{method.result|directoryOpenStatusIndicator}}"></i>
                <i class="{{method.result.RESULT|statusIcon}}"></i>&nbsp;{{method.name}}
              </div>
              <div class="span1" ng-click="runTestMethod(method,config,test)">
                <span ng-show="!working">Run</span>
              </div>
              <div class="span1">{{method.result.TIME}}ms</div>
              <div class="span1" >{{method.result.RESULT}}</div>
            </div>
            <div ng-show="method.result.show&&(method.result.RESULT=='Failed'||method.result.RESULT=='Error')" class="row-fluid well">
              <div class="span12">
                <div >{{method.result.MESSAGE}}</div>
                <div ng-repeat="line in method.result.TAGCONTEXT">
                  <div>{{line.LINE}}:{{line.FILE}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
